html {
  background: url(../images/water-park.jpg) no-repeat top left;
}

#ring {
  background: url(../images/water-ring.png) no-repeat top left;
  width: 1200px;
  height: 750px;
  position: relative;
  top: -10px;
  left: -8px;
  z-index: 1;
}

#dolphin {
  position: absolute;
  top: 400px;
  right: 0;
}

/* Write your solution here */
@media only screen and (min-width: 1196px)
{
  #dolphin {
    left: 900px;
    /* left 521 - 867 (it says 642-1090x) px rotate */
    /* less than 521 px rotate back */
  }
}


@media only screen and (max-width: 1090px) and (min-width: 642px)
{
  #dolphin {
    position: float;
    top: 60px;
    transform: rotate(-90deg);
  }

}
